html {
   font-size: 11px;   
 }
 body,html {
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
 }
 .slooh {
    font-size: 10px;
    position: relative;
    margin: 0 auto;
    width: min-content;
    height: 50rem;
    padding: .5rem .5rem;
    background-color: rgb(192, 192, 192);
    box-shadow: 0 2px 5px 3px grey;
    border-left: 8px solid rgb(128, 128, 128, 0.8);
    border-right: 8px solid rgba(128, 128, 128, 0.8);
    border-bottom: 20px solid rgba(128, 128, 128, 0.377);
    
    border-radius: 1rem;
 }
 .felt {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(134, 1, 1);
    box-shadow: 0 2px 2px 1px rgb(134, 1, 1);
    height: 7px;
    width: 100%;
    z-index: 2;
 }
 /* ++++++++++++++++++ */
 .key {
   position: relative;
   outline: none;
}
 .keys.ivory {
   height: 20rem;
   display: flex;
   flex: 1;
   align-items: center;
   justify-content: center;
   background-color: rgb(41, 41, 41);
   box-shadow: 0 15px 5px 1px black;
 }
 .ivory .key {
   border: .2rem solid rgb(155, 147, 124);
   border-radius: .5rem;
   margin: 0;
   padding: 1rem .5rem;
   transition: all .07s ease;
   width: 4rem;
   height: 20rem;
   text-align: center;
   color: grey;
   background: rgb(243, 242, 237);
   /* text-shadow: 0 0 .5rem black; */
}
#C {
    /* background: rgb(163, 231, 240); */

 }
 /* ++++++++++++++++++++ */
 .keys.ebony {
   height: 15rem;
   position: absolute;
   top: -.8rem;
   right: 2.8rem;
   display: flex;
   flex: 1;
   align-items: center;
   justify-content: center;

 }
 .ebony .key {
   border: .2rem solid rgba(109, 105, 105, 0.377);
   border-radius: .5rem;
   margin: 0 1.1rem;
   padding: 0rem .5rem;
   transition: all .07s ease;
   width: 2rem;
   height: 12rem;
   text-align: center;
   color: grey;
   background: rgb(24, 23, 23);
   box-shadow: 0 19px 1px rgb(0, 0, 0);
 }
 .ebony .margin-right {
   margin-right: 5.7rem;
 }
 .ebony .margin-left {
   margin-left: 1.6rem;
 }
 /* ++++++++++++++++++++++++  */
  .finger-down {
   transform: scale(.97);
 }
 .ivory .finger-down {
   background: rgb(230, 229, 227);
 }
 .ebony .finger-down {
   box-shadow: 0 11px 1px rgb(0, 0, 0);
   height: 14rem;
   margin-top: 0rem;
 }.ebony .finger-down kbd {
   margin-top: 1rem;
 }
 kbd {
   display: block;
   font-size: 1rem;
   margin-top: 0rem;
 }
 .ivory kbd {
   margin-top: 1rem;
 }
 .keys .key.blink {
   border: .2rem solid rgba(0, 217, 255, 0.726);
}
.keys .key.flash {
   border: .2rem solid red;
 }

 /* +++++==========++++++ */
 .output {
    box-shadow: 0px 0px 6px 15px rgba(188, 188, 188) inset;
    text-shadow: 2px 1px 3px;
    font-size: 15px;
    font-weight: 100;
    width: 98%;
    height: 25rem;
    border-radius: 1rem;
    margin: 2rem auto 0 auto;
    padding-top: .8rem;
    color:rgb(95, 95, 95);
    background-color: rgb(238, 238, 238);
   }

 .output h2 {
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    color: rgb(173, 173, 173);
    margin: 1rem;
    text-shadow: none;
 }
 .wrapper {
    width: 95%;
    height: 47%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
   }
.wrapper.one {
   border-top: 4px solid rgba(155, 155, 155, 0.123);
   /* height: 25%; */
}
.wrapper.one .cont {
   border-bottom: 5px solid rgba(128, 128, 128, 0.1);
   width: 36%;
   
}
.wrapper.two {
   border-bottom: 4px solid rgba(128, 128, 128, 0.123);
}
.cont {
   position: relative;
   box-shadow: 0px 0px 10px 10px rgba(202, 202, 202, 0.1) inset;
   border-right: 5px solid rgba(128, 128, 128, 0.1);
   border-radius: 1rem;
   padding: .5rem;
   margin:  0 0 0 1px;
   height: 85%;
   background-color: rgb(240, 240, 240);
   
}
.cont#monitor {
   margin: 0 auto;
   border-right: 5px solid rgba(128, 128, 128, 0.1);
   width: 63%;
   /* height: 100%; */
   /* background: rgb(51, 50, 50); */
   /* border: 3px solid rgb(37, 35, 35); */
   box-shadow: none;
   /* margin-bottom: .5rem; */
   /* border-radius: 20px; */
   
}
#correct-note {
   color: green;
}
 #monitor {
   

 }
 #monitor h1 {
   width: 100%;
   z-index: 1;
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   font-size: 4rem;
   font-weight: 200;
   /* text-shadow: 1px 2px 5px rgba(0, 88, 0, 0.603); */
   text-shadow: 1px 2px 3px rgba(148, 147, 147, 0.493);
   /* color: rgba(9, 126, 9, 0.63); */
   color: rgb(240, 240, 240);
   font-family: monospace;
   margin-top: 2rem;
}
#monitor h1.flash {
   text-shadow: 1px 2px 5px rgba(255, 0, 0, 0.452);

}
/* #monitor h3 {
    text-align: left;
 } */
 #monitor p {
    z-index: 99;
   font-family: monospace;
   text-shadow: none;
   margin: 3% 3%;
   color:rgb(136, 136, 136);
   font-size: 1rem;
   font-weight: 200;
   letter-spacing: .2rem;
   padding: 2rem;
 }
 #blinking-cursor {
    margin-left: -.8rem;
   height: 1rem;
   width: .7rem;
   background:rgb(136, 136, 136);
   opacity: 0;
   display: inline-block;
   animation: blink .3s linear infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

 }
 .logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
 }
 .logo a {
    color: rgb(158, 97, 0);
 }
 .logo #cred {
    text-shadow: none;
    font-size: 1rem;
    margin-bottom: .2rem;
 }
 .cont.selector {
    position: relative;
    width: 30%;
    box-shadow: none;
    border-right: none;
    margin-right: .5rem;/* important */
    min-height: min-content;
    text-align: left;
    font-weight: 700;
    font-weight: 400;
    text-shadow: none;
    /* color: rgb(139, 139, 139); */
    color: rgb(197, 197, 197);
   }
   .cont.selector h2 {
      line-height: 7rem;/* important */
      letter-spacing: -1rem;/* important */
      margin-top: 3rem;/* important */
      margin-left: 2rem;
      color: rgb(235, 218, 132);
      font-size: 3.5rem;
      text-align: left;
      /* padding-left: .5rem; */
   }
    .cont h3 {
      text-align: center;
      text-shadow: none;
      font-family: Arial;
      font-weight: 900;
      opacity: .3;
      text-transform: uppercase;
      color: rgb(197, 197, 197);
      letter-spacing: .5rem;
      margin: 0;
      font-size: 1.2rem;
   }
   .cont.selector h3 {
      text-align: left;
      left: -3.5rem;
      top: 4.9rem;
      position: absolute;
      transform: rotate(-90deg);
   } 
   .cont.selector #v-line {
      position: absolute;
      top: 5rem;
      left: 7.8rem;
      height: 1px;
      background: grey;
      width: 70%;
      transform: rotate(90deg);
      opacity: .1;
   } 
   .cont.selector #h-line {
      color: rgb(231, 100, 100);
      position: absolute;
      top: 7.1rem;
      right: 1.6rem;
      height: 1px;
      background: grey;
      width: 30%;
      opacity: .1;
   } 
.controls {
   position: absolute;
   display: block;
   margin-right: .5rem;
}
.controls.keyof {
   opacity: .4;
   width: min-content;
   font-family: monospace;
}
.controls.transpose {
   font-size: 1rem;
   bottom: 3rem;
   right: 5rem;
}
.controls.chromatic {
   font-size: 1rem;
   top: 0rem;
   right: 0;
   
}
.controls.diatonic {
   font-size: 1rem;
   top: 2rem;
   right: 0;
   
}
.controls.tendency {
   font-size: 1rem;
   top: 4rem;
   right: 0;
}
.controls.on-off {
   font-size: 1rem;
   bottom: .5rem;
   right: 0;
}

button {
   color: rgb(200, 200, 200);/*important!!! */
   font-weight: 900;
   text-shadow: 0 0 4px;
   padding: .2rem 1rem;
   box-shadow: 1px 1px 3px 1px rgba(122, 32, 32, 0.1);
   border: none; 
   vertical-align: text-bottom;  
   border-radius: 2px;
   cursor: pointer;
}
.button.flash {
   color: rgba(255, 0, 0, 0.466);
}
.transpose button {
   font-weight: 100;
   padding: .1rem .6rem;
}
.logo-info {
   width: 92%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   color: rgb(218, 218, 218);
   text-shadow: 1px 1px 1px rgb(139, 139, 139);
}

.logo #logo {
   width: min-content;
   display: inline;
   font-family: monospace;
   text-align: right;
   margin: 0;
   font-size: 2rem;
   font-weight: 900;
  }
  .info {
     padding-top: .4rem;
  }
  .info span {
     font-size: 2.2rem;
     vertical-align:baseline;
     font-style: italic;
     opacity: .5;
     cursor: pointer;
     margin-top: .3em;
  }
  .info span:hover {
     opacity: 1;
  }

  #description-container {
     display: none;
  }
  #description-container.open {
     display: initial;
     position: absolute;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.274);
     z-index: 999;
  }
  
#description {
   width: 40%;
   margin: 4rem auto;
   color: grey;
   font-size: 1.5rem;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   line-height: 2rem;
   background-color: white;
   border-radius: 1rem;
   padding: 2rem 2rem 4rem 2rem;
   text-align: justify;
}

#description a {
   color: rgb(67, 157, 241);
   text-decoration: none;
   transition: .3s;
}
#description a:hover {
   color: rgb(0, 132, 255);
}

#description span {
   font-size: 3rem;
   font-weight: 200;
   display: block;
   text-align: right;
   cursor: pointer;
   opacity: .6;
   
  }
